<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label form="inital-value"> Investimento inicial </label>
      <input [(ngModel)]="initialValue" id="initial-value" type="number" name="initial-value" />
    </p>

    <p>
      <label form="annual-investment"> Investimento Anual </label>
      <input
        [(ngModel)]="annualInvestment"
        id="annual-investment"
        type="number"
        name="annual-investment"

      />
    </p>
  </div>

  <div>
    <p>
      <label form="expected-value"> Retorno Esperado </label>
      <input
      [(ngModel)]="expectedValue"
        id="expected-value"
        type="number"
        name="expected-value"
      />
    </p>

    <p>
      <label form="duration"> Duração </label>
      <input [(ngModel)]="duration" id="duration" type="number" name="duration" />
    </p>
  </div>
  <p>
    <button type="submit">Calcular</button>
  </p>
</form>
